<h1>Welcome! Hope you find everything you need and have a super day!</h1>
<h1>Thank You!</h1>

<br>
<h2>Our Merchants</h2>
<p><% @merchants.each do |merchant|%>
    <li><%= link_to "#{merchant.name} Dashboard", merchant_dashboard_index_path(merchant), style: 'pull-right' %></li>
    <br>
<% end %>
